# Ignore arquivos/pastas comuns a todos os projetos Node.js/Next.js
**/node_modules/
**/.next/
**/.env
**/.env.*
**/dist/
**/.turbo/
**/.vercel/
**/.cache/

# Arquivos de lock (caso não queira versionar)
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock

# Prisma
**/prisma/*.db
**/prisma/*.sqlite
**/prisma/migrations/**/README.md

# Logs e arquivos de debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/log.txt